.orb-container {
    position: absolute; /* align to parent */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

/* Make canvas fill the container (ogl attaches <canvas> inside orb-container) */
.orb-container canvas {
    display: block;
    width: 150% !important;
    height: 150% !important;
}
